---
layout: default
title: Projects
---
<section class="previews">
  {% include menu.html %}
  <div>
    <ul class="cards" itemscope itemtype="http://schema.org/Blog">
      {% for post in paginator.posts %}
      <li class="card project">
        <a class="card__link" href="{{ post.project_url }}">
          <div class="card__container">
            <h2 class="card__header">{{ post.title }}</h2>
            <img src="{{ post.image | prepend: site.baseurl }}" />
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
