<section class="previews">
  {% include menu.html %}

  <div>
      <header class="fixed-navigation">
          <h2>
              <a class="back back--black" href="{{ site.navigation[1].url }}">
                <i class="fa fa-lg fa-arrow-left"></i>
                <span>Back to categories</span>
              </a>
              {{ page.title }}
          </h2>
      </header>
      <ul itemscope itemtype="http://schema.org/Blog">
        {% for post in site.categories[page.title] %}
          {% include post.html post=post %}
        {% endfor %}
      </ul>
  </div>

</section>
