<section class="previews">
  {% include menu.html %}

  <div>
      <header class="fixed-navigation">
          <h2>
              <a class="back back--black" href="{{ site.navigation[1].url }}">
                <i class="fa fa-lg fa-arrow-left"></i>
                <span>Back to categories</span>
              </a>
              {{ page.title }}
          </h2>
      </header>
      <ul itemscope itemtype="http://schema.org/Blog">
        {% for post in site.categories[page.title] %}
          <li class="preview" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <a class="preview__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
              <span class="preview__date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</span>
              <h2 class="preview__header" itemprop="name">{{ post.title }}</h2>
              <p class="preview__excerpt" itemprop="description">{{ post.content | strip_html | truncatewords: 20 }}</p>
            </a>
          </li>
        {% endfor %}
      </ul>
  </div>

</section>
