---
---

@import
  'base',
  'mixins',
  'extends',
  'layout',
  'components',
  'animations',
  'helpers'
;

.card {
  &.project {
    .card__container {
      padding: 1em;
    }

    .card__header {
      line-height: 1;
      margin-bottom: .5em;
    }
  }
}
