---
layout: default
---
<article class="previews" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    {% include menu.html %}
    <div>
        <header class="fixed-navigation">
            <a class="back back--black" href="{{ site.navigation[0].url }}">
              <i class="fa fa-lg fa-arrow-left"></i>
              <span>Back to Posts</span>
            </a>
        </header>

      <section class="section-padding post" itemprop="articleBody">
          <h1>{{ page.title }}</h1>
        {{ content }}
      </section>

      <section class="profile">
        <div class="profile__card">
          <div class="profile__img">
            <figure class="absolute-bg" style="background-image: url('{{ site.profile_img }}');"></figure>
          </div>
          <div class="profile__container">
            <p>{{ site.profile }}</p>
            {% if site.email or site.social %}
              <ul class="profile__social">
                {% if site.email %}
                  <li><a class="fa fa-lg fa-envelope-o" href="mailto:{{ site.email }}"></a></li>
                {% endif %}
                {% for social in site.social %}
                  <li><a class="fa fa-lg fa-{{ social[0] }}" href="{{ social[1] }}" target="_blank"></a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      </section>
      {% if page.previous.url or page.next.url %}
      <section class="pagination">
          {% if page.next.url %}
          <a class="next__link" href="{{page.next.url | prepend: site.baseurl }}">
            <div class="next__container">
              <span>Previous</span>
              <h2>{{page.next.title}}</h2>
            </div>
          </a>
          {% endif %}
        {% if page.previous.url %}
        <a class="next__link" href="{{page.previous.url | prepend: site.baseurl }}">
          <div class="next__container">
            <span>Next</span>
            <h2>{{page.previous.title}}</h2>
          </div>
        </a>
        {% endif %}
      </section>
    {% endif %}
  </div>

</article>
