---
layout: default
---
<article class="previews" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    {% include menu.html %}
    <div>
        <header class="fixed-navigation">
            <a class="back back--black" href="{{ site.navigation[0].url }}">
              <i class="fa fa-lg fa-arrow-left"></i>
              <span>Back to Blog</span>
            </a>
        </header>

      <section class="section-padding post" itemprop="articleBody">
          <h1>{{ page.title }}</h1>
          <h4>{{ page.date | date: "%b %-d, %Y" }}</h4>
          {{ content }}
      </section>

      {% include profile.html %}
      {% if page.previous.url or page.next.url %}
      <section class="pagination">
          {% if page.next.url %}
          <a class="next__link" href="{{page.next.url | prepend: site.baseurl }}">
            <div class="next__container">
              <span>Previous</span>
              <h2>{{page.next.title}}</h2>
            </div>
          </a>
          {% endif %}
        {% if page.previous.url %}
        <a class="next__link" href="{{page.previous.url | prepend: site.baseurl }}">
          <div class="next__container">
            <span>Next</span>
            <h2>{{page.previous.title}}</h2>
          </div>
        </a>
        {% endif %}
      </section>
    {% endif %}
  </div>

</article>
